The purpose of this notebook is to perform analysis for the Best Service International Case Study

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [13]:
data_folder = "../Data" #defining a relative path to the data file
excel_file_path = os.path.join(data_folder, "Best Service International Sales Data.xlsx") #Construct a full path including the Excel file

excel_file = pd.ExcelFile(excel_file_path)
print('The names of the sheets in the file are as follows:', excel_file.sheet_names)

The names of the sheets in the file are as follows: ['Sales Data', 'PTT Lead Data', 'Staff List']

In [19]:
dfs = pd.read_excel(excel_file_path, sheet_name=None)
print('The Sales Data table looks as follows')
print(dfs['Sales Data'].head())
print()
print('The Portfolio Tracker Tool table looks as follows')
print(dfs['PTT Lead Data'].head())
print()
print('The Staff List table looks as follows')
print(dfs['Staff List'].head())

The Sales Data table looks as follows
    Sale Date  Cell Number Sale Consultant Employee Number        Province  \
0  2020/01/02    721585874                         D194371  Not Applicable
1  2020/01/02    835550504                         D194371  Not Applicable
2  2020/01/02    614651899                         D194371  Not Applicable
3  2020/01/02    717053334                         D194371  Not Applicable
4  2020/01/02    825127720                         D194371  Not Applicable

           Branch           Lead Source conditions          Product Range  \
0  Not Applicable  Proactive Engagement         No  Savings & Investments
1  Not Applicable  Proactive Engagement        Yes  Savings & Investments
2  Not Applicable  Proactive Engagement        Yes  Savings & Investments
3  Not Applicable  Proactive Engagement         No  Savings & Investments
4  Not Applicable  Proactive Engagement        Yes  Savings & Investments

  Concluded   Valid Sale?
0       Yes    Valid Sale
1       Yes  Invalid Sale
2       Yes    Valid Sale
3       Yes    Valid Sale
4       Yes  Invalid Sale

The Portfolio Tracker Tool table looks as follows
   Cell Number Month Sale Consultant Employee Number Customer Location
0    721585874   Jan                         D217104           Gauteng
1    835550504   Jan                         D198743    Northern Cape
2    614651899   Jan                         D215604     Western Cape
3    717053334   Jan                         D226001           Limpopo
4    825127720   Jan                         D205062       Mpumalanga

The Staff List table looks as follows
              Name  Employee Number   Team Leader
0   Susana Chaffins         D217104     John Smith
1        Asley Loch         D198743  Thabo Matangu
2      Hedy Kimmell         D215604   Sarah Jacobs
3  Martha Frechette         D226001  Jessica Grove
4       Luke Torian         D205062   Sarah Jacobs

In [24]:
print('The Sales Data table has ', dfs['Sales Data'].shape[0], ' rows')
print('The Portfolio Tracker Tool table has ', dfs['PTT Lead Data'].shape[0], ' rows')
print('The Staff List table has ', dfs['Staff List'].shape[0], ' rows')

The Sales Data table has  12018  rows
The Portfolio Tracker Tool table has  360329  rows
The Staff List table has  37  rows

In [26]:
print(dfs['Sales Data'].sample(n=15))

        Sale Date  Cell Number Sale Consultant Employee Number  \
6219   2020/03/13    712486321                         D217093
8295   2020/05/29    716019565                         D219016
3221   2020/02/05    846942844                         D194371
4270   2020/02/18    819802260                         D122609
9532   2020/08/27    825788122                         D215606
1215   2020/01/13    718500639                         D217092
10241  2020/09/30    848753104                         D215074
9846   2020/09/14    813365033                         D198743
10640  2020/10/19    722122300                         D122609
10190  2020/09/29    619721050                         D215074
613    2020/01/08    834335383                         D215026
11820  2020/12/17    721301805                         D217055
995    2020/01/10    847988837                         D226001
9942   2020/09/17    812852994                         D217107
3965   2020/02/13    845764352                         D214376

             Province          Branch           Lead Source conditions  \
6219   Not Applicable  Not Applicable  Proactive Engagement         No
8295          Gauteng        ALBERTON  Proactive Engagement         No
3221   Not Applicable  Not Applicable  Proactive Engagement        Yes
4270   Not Applicable  Not Applicable  Proactive Engagement         No
9532   Not Applicable  Not Applicable  Proactive Engagement        Yes
1215   Not Applicable  Not Applicable  Proactive Engagement        Yes
10241  Not Applicable  Not Applicable  Proactive Engagement        Yes
9846   Not Applicable  Not Applicable  Proactive Engagement        Yes
10640  Not Applicable  Not Applicable  Proactive Engagement         No
10190  Not Applicable  Not Applicable  Proactive Engagement         No
613    Not Applicable  Not Applicable  Proactive Engagement         No
11820  Not Applicable  Not Applicable  Proactive Engagement         No
995    Not Applicable  Not Applicable  Proactive Engagement         No
9942   Not Applicable  Not Applicable  Proactive Engagement         No
3965   Not Applicable  Not Applicable  Proactive Engagement         No

               Product Range Concluded   Valid Sale?
6219   Savings & Investments       Yes    Valid Sale
8295                    Loan       Yes    Valid Sale
3221                    Loan       Yes    Valid Sale
4270   Savings & Investments       Yes    Valid Sale
9532                    Loan       Yes    Valid Sale
1215   Savings & Investments       Yes  Invalid Sale
10241                   Loan       Yes  Invalid Sale
9846                    Loan       Yes    Valid Sale
10640                   Loan       Yes    Valid Sale
10190                   Loan       Yes    Valid Sale
613    Savings & Investments       Yes    Valid Sale
11820  Savings & Investments       Yes    Valid Sale
995    Savings & Investments       Yes    Valid Sale
9942             Credit Card       Yes    Valid Sale
3965   Savings & Investments       Yes    Valid Sale

In order to make the data faster to work with, I will use only the fields I think are important in the Sales Data table. This means dropping the Province, Branch, and Concluded fields. The necessary fields will be added to a new data frame called salesData

In [33]:
selected_col = ['Sale Date', 'Sale Consultant Employee Number', 'Product Range', 'Valid Sale?']
salesData = dfs['Sales Data'][selected_col]
print(salesData.sample(n=15))

        Sale Date Sale Consultant Employee Number          Product Range  \
8862   2020/07/01                         D184243                   Loan
10439  2020/10/08                         D217055  Savings & Investments
11144  2020/11/12                         D198743            Credit Card
1178   2020/01/13                         D215474  Savings & Investments
3466   2020/02/07                         D214376                   Loan
1116   2020/01/13                         D235282  Savings & Investments
11710  2020/12/08                         D215604  Savings & Investments
2257   2020/01/27                         D122609  Savings & Investments
8602   2020/06/17                         D217055                   Loan
2503   2020/01/29                         D194371  Savings & Investments
9918   2020/09/16                         D215604  Savings & Investments
6711   2020/03/19                         D226001                   Loan
24     2020/01/02                         D215099  Savings & Investments
4620   2020/02/21                         D217055        Current Account
11343  2020/11/24                         D217055                   Loan

        Valid Sale?
8862     Valid Sale
10439    Valid Sale
11144    Valid Sale
1178     Valid Sale
3466     Valid Sale
1116     Valid Sale
11710  Invalid Sale
2257     Valid Sale
8602     Valid Sale
2503     Valid Sale
9918     Valid Sale
6711   Invalid Sale
24       Valid Sale
4620     Valid Sale
11343    Valid Sale

In [39]:
from IPython.display import display #this is so that we can use display to view the tables in a more presentable manner

display(salesData.sample(n=20))

,Sale Date,Sale Consultant Employee Number,Product Range,Valid Sale?
11299,2020/11/20,D215074,Savings & Investments,Valid Sale
10304,2020/10/01,D227647,Loan,Valid Sale
7521,2020/04/15,D215606,Insurance,Valid Sale
8355,2020/06/03,D215606,Loan,Valid Sale
2208,2020/01/25,D227647,Credit Card,Valid Sale
4826,2020/02/25,D227647,Savings & Investments,Valid Sale
1035,2020/01/10,D215097,Savings & Investments,Valid Sale
2372,2020/01/28,D216360,Savings & Investments,Valid Sale
4539,2020/02/20,D215074,Credit Card,Valid Sale
1829,2020/01/20,D176968,Savings & Investments,Invalid Sale
11993,2020/12/29,D198743,Loan,Valid Sale
6644,2020/03/19,D217104,Savings & Investments,Valid Sale
4869,2020/02/26,D215099,Savings & Investments,Valid Sale
2452,2020/01/28,D226001,Savings & Investments,Valid Sale
9156,2020/07/29,D197761,Loan,Valid Sale
9137,2020/07/27,D215604,Credit Card,Invalid Sale
8096,2020/05/19,D195038,Savings & Investments,Valid Sale
1178,2020/01/13,D215474,Savings & Investments,Valid Sale
4677,2020/02/21,D215097,Savings & Investments,Valid Sale
1963,2020/01/22,D216360,Savings & Investments,Valid Sale

In [41]:
display(dfs['PTT Lead Data'].sample(n=20))

        Cell Number Month Sale Consultant Employee Number Customer Location
309924    793575415   Nov                         D215097           Gauteng
313652    823936776   Nov                         D226001     Western Cape
296944    711334767   Oct                         D216060      Eastern Cape
138577    829452640   May                         D215097       Mpumalanga
223604    826538461   Aug                         D217093    Kwazulu Natal
144231    822103739   May                         D215099       North West
166441    839988427   Jun                         D215473       Mpumalanga
308508    717287595   Nov                         D215604       North West
21350     615624066   Jan                         D198743     Western Cape
101566    825421908   Apr                         D198743    Northern Cape
134323    613795814   May                         D217093      Eastern Cape
40259     839099903   Feb                         D226001     Western Cape
62428     841967298   Mar                         D215606       Mpumalanga
56140     615573275   Feb                         D215026      Eastern Cape
297895    828046995   Oct                         D212664       Mpumalanga
17436     797268343   Jan                         D215606           Limpopo
70047     825192611   Mar                         D176968           Gauteng
262501    794828970   Sep                         D195038      Eastern Cape
19379     823862132   Jan                         D217107     Western Cape
199745    611670227  July                         D216060    Kwazulu Natal

In [47]:
selected_col = ['Month', 'Sale Consultant Employee Number']
leadData = dfs['PTT Lead Data'][selected_col]
display(leadData.sample(n=15))

       Month Sale Consultant Employee Number
167891   Jun                         D218882
202393  July                         D226001
145616   May                         D215474
141078   May                         D127811
290789   Oct                         D176968
339490   Dec                         D215473
41692    Feb                         D217055
128843   May                         D215606
74290    Mar                         D214405
106925   Apr                         D215608
221583   Aug                         D227647
65916    Mar                         D216060
256167   Sep                         D216280
54258    Feb                         D216280
152984   Jun                         D219016

In [59]:
selected_col = ['Name ','Employee Number','Team Leader ']
staffData = dfs['Staff List'][selected_col]
display(staffData.sample(n=15))

                Name  Employee Number   Team Leader
22         Yon Coelho         D218882  Bonolo Tshube
9     Krysten Numbers         D215606   Sarah Jacobs
27       Leeanne Sohn         D227647  Thabo Matangu
3    Martha Frechette         D226001  Jessica Grove
36    Breanna Traxler         D194371     John Smith
12   Cordell Bertucci         D215097  Bonolo Tshube
18  Shenna Charleston         D214430  Bonolo Tshube
32    Armand Theobald         D215608     John Smith
16    Paulette Hardie         D216280  Bonolo Tshube
33     Deedra Yeldell         D223172  Bonolo Tshube
21  Angeline Simpkins         D215474   Sarah Jacobs
5          Julee Oler         D215099     John Smith
15      Ailene Mansir         D215473     John Smith
20        Kit Mcqueen         D122609     John Smith
29        Mistie Elzy         D184243   Sarah Jacobs

In [69]:
groupedPTT = leadData.groupby(['Sale Consultant Employee Number', 'Month'])
countGroups = groupedPTT.size()
countGroupsDF = countGroups.reset_index(name='Counts')

display(countGroupsDF)

    Sale Consultant Employee Number Month  Counts
0                           D122609   Apr     850
1                           D122609   Aug     763
2                           D122609   Dec     789
3                           D122609   Feb     847
4                           D122609   Jan     789
..                              ...   ...     ...
441                         D235282   Mar     776
442                         D235282   May     798
443                         D235282   Nov     836
444                         D235282   Oct     740
445                         D235282   Sep     895

[446 rows x 3 columns]

Above the lead data has been grouped by employee number, then by the months, and there is a count for how many leads have been assigned per employee for every month. This data can help answer the following questions:
1. We can compare the count for number of leads to the sales attempted and valid sales
2. We can confirm that every employee has been allocated a reasonale amount of leads for every month
3. This is an edge case, but we can explore if there is any correlation between the number of leads and sales made (valid or overall)

In [72]:
groupedLeadData = countsGroupsDF.dropna() #this is to remove any invalid entries
display(groupedLeadData)

    Sale Consultant Employee Number Month  Counts
0                           D122609   Apr     850
1                           D122609   Aug     763
2                           D122609   Dec     789
3                           D122609   Feb     847
4                           D122609   Jan     789
..                              ...   ...     ...
441                         D235282   Mar     776
442                         D235282   May     798
443                         D235282   Nov     836
444                         D235282   Oct     740
445                         D235282   Sep     895

[446 rows x 3 columns]